#workout
  .col-6.offset-3
    .card
      %p= @workout.date.strftime("%A, %b %d")
      %p= @workout.workout
      %p= @workout.mood
      %p= @workout.length

#exercises
  .col-6.offset-3
    .card
      %h2 Exercises
      = render @workout.exercises

      %h3 Add an Exercise
      = render 'exercises/form'
    
    = link_to "Back", root_path, class: "btn btn-secondary"
    = link_to "Edit", edit_workout_path(@workout), class: "btn btn-secondary"
    = link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"